$code-color:	#4D4D4C;
$code-bg:	#f3f3f3;

@import "bootstrap";

#navigation {
	padding: 1em;
}

#results-close {
	position: absolute;
	right: 1em;
	top: 1em;
}

#searchResults {
	padding: 2em;
}

#search-btn {
	outline: 0;
}

span.typ {
	color: #428bca;
}

